{% if c1 == 1 %}
<table class="table table-striped"
    style="font-family: 'Times New Roman',楷体; margin-bottom:10px;--bs-table-striped-bg:white;">
    <thead>
        <tr>
            <th align="center" rowspan="2">
                已知风速(<i>U</i>)的类型<sup>2</sup>
                <p style="margin-top:41px"></p>
            </th>
            <!-- <th style="text-align:center;">
                1
            </th> -->
            <th rowspan="2">
                水域大气表面层内的风速<sup>3</sup><br />
                <div style="text-align: center;">
                    <input style="margin-top:28px;" class="form-check-input"
                        type="radio" name="o2" id="o2_1" value="1">
                </div>

            </th>
            <th style="text-align: center;" colspan="2">
                岸域大气表面层内的风速
            </th>
            <!-- <th style="text-align: center;">
                岸域大气表面层内的风速
            </th> -->
            <!-- <th style="text-align: center;">
                2
            </th> -->
            <th style="text-align: center;" rowspan="2">
                地转风速<sup>6</sup><br />
                <input style="margin-top:48px" class=" form-check-input"
                    type="radio" name="o2" id="o2_4" value="4">
            </th>
        </tr>
        <tr>
            <!-- <th align="center">
                已知风速(<i>U</i>)的类型<sup>2</sup>
                <p style="margin-top:22px"></p>
            </th> -->
            <!-- <th style="text-align: center;">
                水域大气表面层内的风速<sup>3</sup><br />
                <input style="margin-top:28px;" class="form-check-input"
                    type="radio" name="o2" id="o2_1" value="1">
            </th> -->
            <th>
                <!-- 岸域大气表面层内的风速<br /> -->
                临水站点观测的向岸风<sup>4</sup>
                <br />
                <div style="text-align: center;">
                    <div style="text-align: center;">
                        <input class=" form-check-input" type="radio" name="o2"
                            id="o2_2" value="2">
                    </div>

                </div>

            </th>
            <th>
                <!-- 岸域大气表面层内的风速<br /> -->
                离岸风、远离岸线的风<sup>5</sup><br />
                <div style="text-align: center;">
                    <input class=" form-check-input" type="radio" name="o2"
                        id="o2_3" value="3">
                </div>

            </th>
            <!-- <th style="text-align: center;">
                地转风速<sup>6</sup><br />
                <input style="margin-top:48px" class=" form-check-input"
                    type="radio" name="o2" id="o2_4" value="4">
            </th> -->
        </tr>
    </thead>
    <tbody>
        <tr style="height:1px;">
            <td>
                <div style="margin-left:5px;">
                    <i>U</i>的高度位置<br /><i>z<sub>w</sub></i> (m)<sup>7</sup>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC1" name="zw_1"
                        value="{{zw_1}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC2" name="zw_2"
                        value="{{zw_2}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC3" name="zw_3"
                        value="{{zw_3}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC4" name="zw_4"
                        value="{{zw_4}}" disabled>
                </div>
            </td>
        </tr>
        <tr style="height:1px;background-color:rgba(242,242,242,255);">
            <td>
                <div style="margin-left:5px;">
                    现场水域的地理纬度 (°)<sup>8</sup>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC1" name="Xlat_1"
                        value="{{Xlat_1}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC2" name="Xlat_2"
                        value="{{Xlat_2}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC3" name="Xlat_3"
                        value="{{Xlat_3}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC4" name="Xlat_4"
                        value="{{Xlat_4}}" disabled>
                </div>
            </td>
        </tr>
        <tr style="height:1px">
            <td>
                <div style="margin-left:5px;">
                    场地离岸的距离 (km)<sup>9</sup>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC1" name="X_1"
                        value="{{X_1}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC2" name="X_2"
                        value="{{X_2}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC3" name="X_3"
                        value="{{X_3}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC4" name="X_4"
                        value="{{X_4}}" disabled>
                </div>
            </td>
        </tr>
        <tr style="height:1px;background-color:rgba(242,242,242,255)">
            <td>
                <div style="margin-left: 5px;">
                    CEM 中的<i>R<sub>g</sub></i><br />
                    (见图 II-2-13)<sup>10</sup>
                </div>

            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC1" name="Rg_1"
                        value="{{Rg_1}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC2" name="Rg_2"
                        value="{{Rg_2}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC3" name="Rg_3"
                        value="{{Rg_3}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC4" name="Rg_4"
                        value="{{Rg_4}}" disabled>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% elif o2 == 1 %}
<table class="table table-striped"
    style="font-family: 'Times New Roman',楷体; margin-bottom:10px;--bs-table-striped-bg:white;">
    <thead>
        <tr>
            <th align="center" rowspan="2">
                已知风速(<i>U</i>)的类型<sup>2</sup>
                <p style="margin-top:41px"></p>
            </th>
            <!-- <th style="text-align:center;">
                1
            </th> -->
            <th rowspan="2">
                水域大气表面层内的风速<sup>3</sup><br />
                <div style="text-align: center;">
                    <input style="margin-top:28px;" class="form-check-input"
                        type="radio" name="o2" id="o2_1" value="1" checked>
                </div>

            </th>
            <th style="text-align: center;" colspan="2">
                岸域大气表面层内的风速
            </th>
            <!-- <th style="text-align: center;">
                岸域大气表面层内的风速
            </th> -->
            <!-- <th style="text-align: center;">
                2
            </th> -->
            <th style="text-align: center;" rowspan="2">
                地转风速<sup>6</sup><br />
                <input style="margin-top:48px" class=" form-check-input"
                    type="radio" name="o2" id="o2_4" value="4">
            </th>
        </tr>
        <tr>
            <!-- <th align="center">
                已知风速(<i>U</i>)的类型<sup>2</sup>
                <p style="margin-top:22px"></p>
            </th> -->
            <!-- <th style="text-align: center;">
                水域大气表面层内的风速<sup>3</sup><br />
                <input style="margin-top:28px;" class="form-check-input"
                    type="radio" name="o2" id="o2_1" value="1">
            </th> -->
            <th>
                <!-- 岸域大气表面层内的风速<br /> -->
                临水站点观测的向岸风<sup>4</sup>
                <br />
                <div style="text-align: center;">
                    <div style="text-align: center;">
                        <input class=" form-check-input" type="radio" name="o2"
                            id="o2_2" value="2">
                    </div>

                </div>

            </th>
            <th>
                <!-- 岸域大气表面层内的风速<br /> -->
                离岸风、远离岸线的风<sup>5</sup><br />
                <div style="text-align: center;">
                    <input class=" form-check-input" type="radio" name="o2"
                        id="o2_3" value="3">
                </div>

            </th>
            <!-- <th style="text-align: center;">
                地转风速<sup>6</sup><br />
                <input style="margin-top:48px" class=" form-check-input"
                    type="radio" name="o2" id="o2_4" value="4">
            </th> -->
        </tr>
    </thead>
    <tbody>
        <tr style="height:1px;">
            <td>
                <div style="margin-left:5px;">
                    <i>U</i>的高度位置<br /><i>z<sub>w</sub></i> (m)<sup>7</sup>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC1" name="zw_1"
                        value="{{zw_1}}">
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC2" name="zw_2"
                        value="{{zw_2}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC3" name="zw_3"
                        value="{{zw_3}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC4" name="zw_4"
                        value="{{zw_4}}" disabled>
                </div>
            </td>
        </tr>
        <tr style="height:1px;background-color:rgba(242,242,242,255);">
            <td>
                <div style="margin-left:5px;">
                    现场水域的地理纬度 (°)<sup>8</sup>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC1" name="Xlat_1"
                        value="{{Xlat_1}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC2" name="Xlat_2"
                        value="{{Xlat_2}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC3" name="Xlat_3"
                        value="{{Xlat_3}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC4" name="Xlat_4"
                        value="{{Xlat_4}}" disabled>
                </div>
            </td>
        </tr>
        <tr style="height:1px">
            <td>
                <div style="margin-left:5px;">
                    场地离岸的距离 (km)<sup>9</sup>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC1" name="X_1"
                        value="{{X_1}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC2" name="X_2"
                        value="{{X_2}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC3" name="X_3"
                        value="{{X_3}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC4" name="X_4"
                        value="{{X_4}}" disabled>
                </div>
            </td>
        </tr>
        <tr style="height:1px;background-color:rgba(242,242,242,255)">
            <td>
                <div style="margin-left: 5px;">
                    CEM 中的<i>R<sub>g</sub></i><br />
                    (见图 II-2-13)<sup>10</sup>
                </div>

            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC1" name="Rg_1"
                        value="{{Rg_1}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC2" name="Rg_2"
                        value="{{Rg_2}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC3" name="Rg_3"
                        value="{{Rg_3}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC4" name="Rg_4"
                        value="{{Rg_4}}" disabled>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% elif o2 == 2 %}
<table class="table table-striped"
    style="font-family: 'Times New Roman',楷体; margin-bottom:10px;--bs-table-striped-bg:white;">
    <thead>
        <tr>
            <th align="center" rowspan="2">
                已知风速(<i>U</i>)的类型<sup>2</sup>
                <p style="margin-top:41px"></p>
            </th>
            <!-- <th style="text-align:center;">
                1
            </th> -->
            <th rowspan="2">
                水域大气表面层内的风速<sup>3</sup><br />
                <div style="text-align: center;">
                    <input style="margin-top:28px;" class="form-check-input"
                        type="radio" name="o2" id="o2_1" value="1">
                </div>

            </th>
            <th style="text-align: center;" colspan="2">
                岸域大气表面层内的风速
            </th>
            <!-- <th style="text-align: center;">
                岸域大气表面层内的风速
            </th> -->
            <!-- <th style="text-align: center;">
                2
            </th> -->
            <th style="text-align: center;" rowspan="2">
                地转风速<sup>6</sup><br />
                <input style="margin-top:48px" class=" form-check-input"
                    type="radio" name="o2" id="o2_4" value="4">
            </th>
        </tr>
        <tr>
            <!-- <th align="center">
                已知风速(<i>U</i>)的类型<sup>2</sup>
                <p style="margin-top:22px"></p>
            </th> -->
            <!-- <th style="text-align: center;">
                水域大气表面层内的风速<sup>3</sup><br />
                <input style="margin-top:28px;" class="form-check-input"
                    type="radio" name="o2" id="o2_1" value="1">
            </th> -->
            <th>
                <!-- 岸域大气表面层内的风速<br /> -->
                临水站点观测的向岸风<sup>4</sup>
                <br />
                <div style="text-align: center;">
                    <div style="text-align: center;">
                        <input class=" form-check-input" type="radio" name="o2"
                            id="o2_2" value="2" checked>
                    </div>

                </div>

            </th>
            <th>
                <!-- 岸域大气表面层内的风速<br /> -->
                离岸风、远离岸线的风<sup>5</sup><br />
                <div style="text-align: center;">
                    <input class=" form-check-input" type="radio" name="o2"
                        id="o2_3" value="3">
                </div>

            </th>
            <!-- <th style="text-align: center;">
                地转风速<sup>6</sup><br />
                <input style="margin-top:48px" class=" form-check-input"
                    type="radio" name="o2" id="o2_4" value="4">
            </th> -->
        </tr>
    </thead>
    <tbody>
        <tr style="height:1px;">
            <td>
                <div style="margin-left:5px;">
                    <i>U</i>的高度位置<br /><i>z<sub>w</sub></i> (m)<sup>7</sup>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC1" name="zw_1"
                        value="{{zw_1}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC2" name="zw_2"
                        value="{{zw_2}}">
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC3" name="zw_3"
                        value="{{zw_3}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC4" name="zw_4"
                        value="{{zw_4}}" disabled>
                </div>
            </td>
        </tr>
        <tr style="height:1px;background-color:rgba(242,242,242,255);">
            <td>
                <div style="margin-left:5px;">
                    现场水域的地理纬度 (°)<sup>8</sup>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC1" name="Xlat_1"
                        value="{{Xlat_1}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC2" name="Xlat_2"
                        value="{{Xlat_2}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC3" name="Xlat_3"
                        value="{{Xlat_3}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC4" name="Xlat_4"
                        value="{{Xlat_4}}" disabled>
                </div>
            </td>
        </tr>
        <tr style="height:1px">
            <td>
                <div style="margin-left:5px;">
                    场地离岸的距离 (km)<sup>9</sup>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC1" name="X_1"
                        value="{{X_1}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC2" name="X_2"
                        value="{{X_2}}">
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC3" name="X_3"
                        value="{{X_3}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC4" name="X_4"
                        value="{{X_4}}" disabled>
                </div>
            </td>
        </tr>
        <tr style="height:1px;background-color:rgba(242,242,242,255)">
            <td>
                <div style="margin-left: 5px;">
                    CEM 中的<i>R<sub>g</sub></i><br />
                    (见图 II-2-13)<sup>10</sup>
                </div>

            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC1" name="Rg_1"
                        value="{{Rg_1}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC2" name="Rg_2"
                        value="{{Rg_2}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC3" name="Rg_3"
                        value="{{Rg_3}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC4" name="Rg_4"
                        value="{{Rg_4}}" disabled>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% elif o2 == 3 %}
<table class="table table-striped"
    style="font-family: 'Times New Roman',楷体; margin-bottom:10px;--bs-table-striped-bg:white;">
    <thead>
        <tr>
            <th align="center" rowspan="2">
                已知风速(<i>U</i>)的类型<sup>2</sup>
                <p style="margin-top:41px"></p>
            </th>
            <!-- <th style="text-align:center;">
                1
            </th> -->
            <th rowspan="2">
                水域大气表面层内的风速<sup>3</sup><br />
                <div style="text-align: center;">
                    <input style="margin-top:28px;" class="form-check-input"
                        type="radio" name="o2" id="o2_1" value="1">
                </div>

            </th>
            <th style="text-align: center;" colspan="2">
                岸域大气表面层内的风速
            </th>
            <!-- <th style="text-align: center;">
                岸域大气表面层内的风速
            </th> -->
            <!-- <th style="text-align: center;">
                2
            </th> -->
            <th style="text-align: center;" rowspan="2">
                地转风速<sup>6</sup><br />
                <input style="margin-top:48px" class=" form-check-input"
                    type="radio" name="o2" id="o2_4" value="4">
            </th>
        </tr>
        <tr>
            <!-- <th align="center">
                已知风速(<i>U</i>)的类型<sup>2</sup>
                <p style="margin-top:22px"></p>
            </th> -->
            <!-- <th style="text-align: center;">
                水域大气表面层内的风速<sup>3</sup><br />
                <input style="margin-top:28px;" class="form-check-input"
                    type="radio" name="o2" id="o2_1" value="1">
            </th> -->
            <th>
                <!-- 岸域大气表面层内的风速<br /> -->
                临水站点观测的向岸风<sup>4</sup>
                <br />
                <div style="text-align: center;">
                    <div style="text-align: center;">
                        <input class=" form-check-input" type="radio" name="o2"
                            id="o2_2" value="2">
                    </div>

                </div>

            </th>
            <th>
                <!-- 岸域大气表面层内的风速<br /> -->
                离岸风、远离岸线的风<sup>5</sup><br />
                <div style="text-align: center;">
                    <input class=" form-check-input" type="radio" name="o2"
                        id="o2_3" value="3" checked>
                </div>

            </th>
            <!-- <th style="text-align: center;">
                地转风速<sup>6</sup><br />
                <input style="margin-top:48px" class=" form-check-input"
                    type="radio" name="o2" id="o2_4" value="4">
            </th> -->
        </tr>
    </thead>
    <tbody>
        <tr style="height:1px;">
            <td>
                <div style="margin-left:5px;">
                    <i>U</i>的高度位置<br /><i>z<sub>w</sub></i> (m)<sup>7</sup>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC1" name="zw_1"
                        value="{{zw_1}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC2" name="zw_2"
                        value="{{zw_2}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC3" name="zw_3"
                        value="{{zw_3}}">
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC4" name="zw_4"
                        value="{{zw_4}}" disabled>
                </div>
            </td>
        </tr>
        <tr style="height:1px;background-color:rgba(242,242,242,255);">
            <td>
                <div style="margin-left:5px;">
                    现场水域的地理纬度 (°)<sup>8</sup>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC1" name="Xlat_1"
                        value="{{Xlat_1}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC2" name="Xlat_2"
                        value="{{Xlat_2}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC3" name="Xlat_3"
                        value="{{Xlat_3}}">
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC4" name="Xlat_4"
                        value="{{Xlat_4}}" disabled>
                </div>
            </td>
        </tr>
        <tr style="height:1px">
            <td>
                <div style="margin-left:5px;">
                    场地离岸的距离 (km)<sup>9</sup>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC1" name="X_1"
                        value="{{X_1}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC2" name="X_2"
                        value="{{X_2}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC3" name="X_3"
                        value="{{X_3}}">
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC4" name="X_4"
                        value="{{X_4}}" disabled>
                </div>
            </td>
        </tr>
        <tr style="height:1px;background-color:rgba(242,242,242,255)">
            <td>
                <div style="margin-left: 5px;">
                    CEM 中的<i>R<sub>g</sub></i><br />
                    (见图 II-2-13)<sup>10</sup>
                </div>

            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC1" name="Rg_1"
                        value="{{Rg_1}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC2" name="Rg_2"
                        value="{{Rg_2}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave">
                    <input type="hidden" class="requiredC3" name="Rg_3"
                        value="{{Rg_3}}" disabled>
                </div>
            </td>
            <td>
                <div class="wave" align="center">
                    <input type="text" class="requiredC4" name="Rg_4"
                        value="{{Rg_4}}" disabled>
                </div>
            </td>
        </tr>
    </tbody>
</table>

{% endif %}