{% extends "./layout/calculation_base.html" %} {% block content %}

<link rel="stylesheet" href="../static/styles/waterfrontes.css">
<link rel="stylesheet" href="../static/styles/output.css">
<link rel="stylesheet" href="../static/styles/gu_output.css">
<link href="{{ url_for('static',filename='styles/button.css') }}"
    rel="stylesheet" type="text/css" />
<!--<div class="card">-->
<div class="row ">
    <div class="col-md-6 m-auto">
        <div class="row">
            <div class="col">
                <h4
                    style="font-family: 楷体;margin-bottom: 0px;margin-top: 0px;color:blue;line-height:1.45;">
                    <strong>水域的大气表面层风速</strong>
                </h4>
            </div>
            <div class="col" align="right">
                <a href="#" class="btn btn-secondary"
                    style="font-family: 楷体; background-color: rgb(233, 236, 239);color:blue;border: 0px solid rgb(255, 255, 255);box-shadow:0px 0px;border-radius: 0px;"><strong>计算页面</strong></a>
                <a href="#" class="btn btn-secondary"
                    style="font-family: 楷体; background-color: rgb(255, 255, 255);color:blue;border: 0px solid rgb(255, 255, 255);box-shadow:0px 0px;border-radius: 0px;"><strong>技术指南</strong></a>
                <a href="#" class="btn btn-secondary"
                    style="font-family: 楷体; background-color: rgb(255, 255, 255);color:blue;border: 0px solid rgb(255, 255, 255);box-shadow:0px 0px;border-radius: 0px;"><strong>更新记录</strong></a>
            </div>
        </div>
        <div class="card-header" align="right"
            style="height:24px;padding: 0rem;background-color:rgb(233, 236, 239) ;">
            <span
                style="font-size:12px;font-family:'Times New Roman',楷体;margin-top:0px;margin-bottom:0px;">
                当前计算程序版本：202212，最后更新于2022.12
            </span>
        </div>
        <p style="margin-top:15px"></p>
        <div class="card-header"
            style="padding: 0rem;padding-top:0.5rem;padding-bottom:0.5rem;background-color:rgb(233, 236, 239) ;">
            <h5 style="font-family: 楷体; margin-bottom: 0px" align="left">
                <strong>参数输入</strong>
            </h5>
        </div>
        <form class="form" method="POST" action="#"
            onsubmit="return validateForm()" id="waveForm" name="waveForm"
            style="font-size:14px">
            <div class="input-group">
                <span
                    style="font-family:楷体;font-size:14px;margin-left:6px">项目描述（选填）&nbsp&nbsp</span>
                <div>
                    <input type=" text" class="form-control" name="mingzi"
                        value="{{mingzi}}"
                        style="height:25px;width:475px;font-size:14px;margin-left:10px;border-radius:5px;font-family:'Times New Roman',楷体;">
                </div>
            </div>
            <table class="table table-striped"
                style="font-family: 'Times New Roman',楷体; margin-bottom:10px;">
                {% if c1 == 1 %}
                <thead>
                    <tr>
                        <th
                            style="padding-bottom: 30px; width: 40%;text-align: center;">
                        </th>
                        <!-- <th style=" width: 40%">波浪频谱的类型<br /></th> -->
                        <th style="width:20%;">风距或水深限制条<br />件下的谱
                            <sup>1,3</sup><br />
                            <!-- <input style="margin-left: 50px;" type="radio" name="radio" id="radio1" checked> -->
                            <input class="form-check-input"
                                style="margin-left: 50px;" type="radio"
                                name="radio" id="radio1" value="1" checked>
                            <!-- <div class="form-check radio" style="margin-top: 0px;margin-bottom: 0px;">
                                <input class="form-check-input" type="radio" name="radio" id="radio1" checked>
                            </div> -->
                        </th>
                        <th style="width:20%;">风、涌浪混合谱或<br />充分成长的风浪谱
                            <sup>2,3</sup><br>
                            <input class=" form-check-input"
                                style="margin-left: 50px;" type="radio"
                                name="radio" id="radio2" value="2">
                            <!-- <div class="form-check radio">
                                <input class=" form-check-input" type="radio" name="radio" id="radio2">
                                </label>
                            </div> -->
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height:1px">
                        <td>水深 <i>d</i> (m) </td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC1" name="d" value="{{d}}" placeholder="8">-->
                                <input type="text" class="requiredC1" name="d"
                                    value="{{d_1}}">
                            </div>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>风矩 <i>X</i> (km) </td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC1" name="X" value="{{X}}" placeholder="100000 必填" required>-->
                                <input type="text" class="requiredC1" name="X_1"
                                    value="{{X_1}}">

                            </div>
                        </td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC2" name="X" value="{{X}}" placeholder="100000" disabled><sup>11</sup>-->
                                <select class="requiredC2" name="X_2"
                                    style="height:25px;width:130px;" disabled>
                                    {% if X_2_Replace %}
                                    <option value="{{X_2}}" selected hidden>
                                        {{X_2_Replace}}</option>
                                    {% else %}
                                    <option value="{{X_2}}" selected hidden>
                                        {{X_2}}</option>
                                    {% endif %}
                                    <option value="370">370</option>
                                    <option value="100">100</option>
                                    <option value="None">不考虑</option>
                                </select><sup>11</sup>
                                <!-- <input type="text" class="requiredC2" name="X_2" value="{{X_2}}" disabled
                                    style="text-align:right;"><sup>11</sup> -->

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>风速 <i>U</i> (m/s) <sup>4</sup></td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC1" name="U" value="{{U}}" placeholder="30 必填" required>-->
                                <input type="text" class="requiredC1" name="U_1"
                                    value="{{U_1}}">

                            </div>
                        </td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC2" name="U" value="{{U}}" disabled required placeholder="30 必填"><sup>12</sup>-->
                                <input type="text" class="requiredC2" name="U_2"
                                    value="{{U_2}}" disabled><sup>12</sup>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>风速位置距水面的高度 <i>z</i> (m) <sup>4</sup></td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC1" name="el" value="{{el}}" placeholder="10 必填" required>-->
                                <input type="text" class="requiredC1"
                                    name="el_1" value="{{el_1}}">
                            </div>
                        </td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC2" name="el" value="{{el}}" disabled required placeholder="10 必填"><sup>12</sup>-->
                                <input type="text" class="requiredC2"
                                    name="el_2" value="{{el_2}}"
                                    disabled><sup>12</sup>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>JONSWAP谱中的 <i>γ</i> (峰形系数) <sup>5</sup></td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC1" name="gamma" value="{{gamma}}" placeholder="3.3">-->
                                <input type="text" class="requiredC1"
                                    name="gamma_1" value="{{gamma_1}}">

                            </div>
                        </td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC2" name="gamma" value="{{gamma}}" disabled placeholder="3.3">-->
                                <input type="text" class="requiredC2"
                                    name="gamma_2" value="{{gamma_2}}" disabled>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>有效波高 <i>H</i><sub>1/3</sub> (m) <sup>6</sup></td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC1" name="Hs" value="{{Hs}}" placeholder="5"><sup>10</sup>-->
                                <input type="text" class="requiredC1"
                                    name="Hs_1" value="{{Hs_1}}"><sup>10</sup>

                            </div>
                        </td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC2" name="Hs" value="{{Hs}}" disabled required placeholder="5 必填"><sup>12</sup>-->
                                <input type="text" class="requiredC2"
                                    name="Hs_2" value="{{Hs_2}}"
                                    disabled><sup>12</sup>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>平均周期 <i>T<sub>z</sub></i> (s) <sup>7</sup></td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC1" name="Tz" value="{{Tz}}" placeholder="11.1">-->
                                <input type="text" class="requiredC1"
                                    name="Tz_1" value="{{Tz_1}}">

                            </div>
                        </td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC2" name="Tz" value="{{Tz}}" disabled placeholder="11.1">-->
                                <input type="text" class="requiredC2"
                                    name="Tz_2" value="{{Tz_2}}" disabled>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>有效波周期 <i>T</i><sub>1/3</sub> (s) <sup>8</sup></td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC1" name="Ts" value="{{Ts}}" placeholder="5">-->
                                <input type="text" class="requiredC1"
                                    name="Ts_1" value="{{Ts_1}}">

                            </div>
                        </td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC2" name="Ts" value="{{Ts}}" disabled placeholder="5">-->
                                <input type="text" class="requiredC2"
                                    name="Ts_2" value="{{Ts_2}}" disabled>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            谱峰周期 <i>T<sub>p</sub></i> (s) <sup>9</sup>
                        </td>
                        <td>

                        </td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC2" name="Tp" value="{{Tp}}" disabled placeholder="5">-->
                                <input type="text" class="requiredC2" name="Tp"
                                    value="{{Tp_2}}" disabled>

                            </div>
                        </td>
                    </tr>
                </tbody>
                {% else %}
                <thead>
                    <tr>
                        <th
                            style="padding-bottom: 30px; width: 40%;text-align: center;">
                        </th>
                        <!-- <th style=" width: 40%">波浪频谱的类型<br /></th> -->
                        <th style="width:20%;">风距或水深限制条<br />件下的谱
                            <sup>1,3</sup><br />
                            <!-- <input style="margin-left: 50px;" type="radio" name="radio" id="radio1" checked> -->
                            <input class="form-check-input"
                                style="margin-left: 50px;" type="radio"
                                name="radio" id="radio1" value="1">
                            <!-- <div class="form-check radio" style="margin-top: 0px;margin-bottom: 0px;">
                                <input class="form-check-input" type="radio" name="radio" id="radio1" checked>
                            </div> -->
                        </th>
                        <th style="width:20%;">风、涌浪混合谱或<br />充分成长的风浪谱
                            <sup>2,3</sup><br>
                            <input class=" form-check-input"
                                style="margin-left: 50px;" type="radio"
                                name="radio" id="radio2" value="2" checked>
                            <!-- <div class="form-check radio">
                                <input class=" form-check-input" type="radio" name="radio" id="radio2">
                                </label>
                            </div> -->
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height:1px">
                        <td>水深 <i>d</i> (m) </td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC1" name="d" value="{{d}}" placeholder="8">-->
                                <input type="text" class="requiredC1" name="d"
                                    value="{{d_1}}" disabled>
                            </div>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>风矩 <i>X</i> (km) </td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC1" name="X" value="{{X}}" placeholder="100000 必填" required>-->
                                <input type="text" class="requiredC1" name="X_1"
                                    value="{{X_1}}" disabled>

                            </div>
                        </td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC2" name="X" value="{{X}}" placeholder="100000" disabled><sup>11</sup>-->
                                <!-- <input type="text" class="requiredC2" name="X_2" value="{{X_2}}"
                                    style="text-align:right;"><sup>11</sup> -->
                                <select class="requiredC2" name="X_2"
                                    style="height:25px;width:130px;">
                                    {% if X_2_Replace %}
                                    <option value="{{X_2}}" selected hidden>
                                        {{X_2_Replace}}</option>
                                    {% else %}
                                    <option value="{{X_2}}" selected hidden>
                                        {{X_2}}</option>
                                    {% endif %}
                                    <option value="370">370</option>
                                    <option value="100">100</option>
                                    <option value="None">不考虑</option>
                                </select><sup>11</sup>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>风速 <i>U</i> (m/s) <sup>4</sup></td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC1" name="U" value="{{U}}" placeholder="30 必填" required>-->
                                <input type="text" class="requiredC1" name="U_1"
                                    value="{{U_1}}" disabled>

                            </div>
                        </td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC2" name="U" value="{{U}}" disabled required placeholder="30 必填"><sup>12</sup>-->
                                <input type="text" class="requiredC2" name="U_2"
                                    value="{{U_2}}"><sup>12</sup>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>风速位置距水面的高度 <i>z</i> (m) <sup>4</sup></td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC1" name="el" value="{{el}}" placeholder="10 必填" required>-->
                                <input type="text" class="requiredC1"
                                    name="el_1" value="{{el_1}}" disabled>
                            </div>
                        </td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC2" name="el" value="{{el}}" disabled required placeholder="10 必填"><sup>12</sup>-->
                                <input type="text" class="requiredC2"
                                    name="el_2" value="{{el_2}}"><sup>12</sup>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>JONSWAP谱中的 <i>γ</i> (峰形系数) <sup>5</sup></td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC1" name="gamma" value="{{gamma}}" placeholder="3.3">-->
                                <input type="text" class="requiredC1"
                                    name="gamma_1" value="{{gamma_1}}" disabled>

                            </div>
                        </td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC2" name="gamma" value="{{gamma}}" disabled placeholder="3.3">-->
                                <input type="text" class="requiredC2"
                                    name="gamma_2" value="{{gamma_2}}">

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>有效波高 <i>H</i><sub>1/3</sub> (m) <sup>6</sup></td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC1" name="Hs" value="{{Hs}}" placeholder="5"><sup>10</sup>-->
                                <input type="text" class="requiredC1"
                                    name="Hs_1" value="{{Hs_1}}"
                                    disabled><sup>10</sup>

                            </div>
                        </td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC2" name="Hs" value="{{Hs}}" disabled required placeholder="5 必填"><sup>12</sup>-->
                                <input type="text" class="requiredC2"
                                    name="Hs_2" value="{{Hs_2}}"><sup>12</sup>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>平均周期 <i>T<sub>z</sub></i> (s) <sup>7</sup></td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC1" name="Tz" value="{{Tz}}" placeholder="11.1">-->
                                <input type="text" class="requiredC1"
                                    name="Tz_1" value="{{Tz_1}}" disabled>

                            </div>
                        </td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC2" name="Tz" value="{{Tz}}" disabled placeholder="11.1">-->
                                <input type="text" class="requiredC2"
                                    name="Tz_2" value="{{Tz_2}}">

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>有效波周期 <i>T</i><sub>1/3</sub> (s) <sup>8</sup></td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC1" name="Ts" value="{{Ts}}" placeholder="5">-->
                                <input type="text" class="requiredC1"
                                    name="Ts_1" value="{{Ts_1}}" disabled>

                            </div>
                        </td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC2" name="Ts" value="{{Ts}}" disabled placeholder="5">-->
                                <input type="text" class="requiredC2"
                                    name="Ts_2" value="{{Ts_2}}">

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            谱峰周期 <i>T<sub>p</sub></i> (s) <sup>9</sup>
                        </td>
                        <td>

                        </td>
                        <td>
                            <div class="wave">
                                <!--                            <input type="text" class="requiredC2" name="Tp" value="{{Tp}}" disabled placeholder="5">-->
                                <input type="text" class="requiredC2" name="Tp"
                                    value="{{Tp_2}}">

                            </div>
                        </td>
                    </tr>
                </tbody>
                {% endif %}
            </table>
            <input type="hidden" name="c1" value={{c1}}>
            <div class="tips" style="margin-top:0px;font-size:12px">
                <p
                    style="margin-left:10px;font-family: 'Times New Roman',楷体;margin-bottom: 0px;">
                    注：
                </p>
                <ol class="list-group list-group-numbered"
                    style="font-family: 'Times New Roman',楷体;">
                    <li class="d-flex"
                        style="margin-bottom:0px;margin-top:0px;">
                        <div style="margin-left:10px">
                            本计算程序假设大气表面层为距离水面或地面120 m高度范围内的大气边界层。<br>
                        </div>
                    </li>
                    <li class="d-flex"
                        style="margin-bottom:0px;margin-top:0px;">
                        <div style="margin-left:10px">
                            对于水域风速，这一zm指水面以上的高度。对于陆域风速，这一zm指地面以上的高度。在分析陆域风到水域的转换时，因为陆域风会随地形运动，本计算程序假设陆域风速的zm等同于指水面以上的高度。
                            风速廓线和气温廓线需联合求解，故要求同一高度的已知气温和已知风速。
                            <br>
                        </div>
                    </li>
                    <li class="d-flex"
                        style="margin-bottom:0px;margin-top:0px;">
                        <div style="margin-left:10px">
                            风速廓线和气温廓线需联合求解，故要求同一高度的已知气温和已知风速。
                            <br>
                        </div>
                    </li>
                    <li class="d-flex"
                        style="margin-bottom:0px;margin-top:0px;">
                        <div style="margin-left:10px">
                            原则上不要求同一高度的已知气温和已知风速。
                            但为便于比较相同高度处的水、陆域风速，本计算程序要求同一高度的已知气温和已知风速。
                            <br>
                        </div>
                    </li>
                    <li class="d-flex"
                        style="margin-bottom:0px;margin-top:0px;">
                        <div style="margin-left:10px">
                            取值范围：(0.3, 1.0)。在地转风速为20 m/s、气水温差为零时，其值为0.65，以作参考。
                            <br>
                        </div>
                    </li>
                    <li class="d-flex"
                        style="margin-bottom:0px;margin-top:0px;">
                        <div style="margin-left:10px">
                            风速时距为获取风速平均值的时间间隔。
                            <br>
                        </div>
                    </li>
                    <li class="d-flex"
                        style="margin-bottom:0px;margin-top:0px;">
                        <div style="margin-left:10px">
                            根据需要选择，不要超过本计算程序所假设的大气表面层厚度 (120 m) 。
                            <br>
                        </div>
                    </li>
                    <li class="d-flex"
                        style="margin-bottom:0px;margin-top:0px;">
                        <div style="margin-left:10px">
                            用来近似代表贴近水面的气温。
                            <br>
                        </div>
                    </li>
                    <li class="d-flex"
                        style="margin-bottom:0px;margin-top:0px;">
                        <div style="margin-left:10px">
                            如果没有可靠数据，建议近似取值：如zm较高，取水表面温度和zm处已知气温的均值；否则，取zm处的已知气温。
                            <br>
                        </div>
                    </li>
                </ol>
            </div>
            <div class="wave">
                <h5 style="font-family:楷体;margin-bottom:15px;margin-top:15px;"
                    align="right">
                    <button type=" submit" name="calculate" value="计 算"
                        class="btn btn-secondary"
                        style="font-family: 楷体;background-color: rgb(230, 230, 230);color:red;width:250px;height:28px;padding-top:0px;"><strong>计&nbsp算
                            (约需数秒，结果见下!)</strong>
                    </button>
                    <a href="/windspeed.html" class="btn btn-secondary"
                        style="font-family: 楷体; background-color: rgb(230, 230, 230);color:blue;height:28px;padding-top:0px;"><strong>清&nbsp空</strong></a>
                    <button type="button"
                        class="btn btn-secondary button-print-or-save-document"
                        style="font-family: 楷体; background-color: rgb(230, 230, 230);color:blue;height:28px;padding-top:0px;"><strong>打&nbsp印</strong></button>
                </h5>
            </div>
        </form>
        {% include "calculation/windspeed_result.html" %}
    </div>
</div>
<p style="margin-top:75px"></p>
<script type="text/javascript"
    src="{{ url_for('static',filename='javascript/windspeed/form_validation.js') }}"></script>
<script type="text/javascript"
    src="{{ url_for('static',filename='javascript/pagebreak.js') }}"></script>
<script type="text/javascript"
    src="{{ url_for('static',filename='javascript/print.js') }}"></script>
<script type="text/javascript"
    src="{{ url_for('static',filename='javascript/windspeed/button_control.js') }}"></script>

{% endblock %}