@media print {
    * {
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
        /*print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
        /*color-adjust: exact !important;                 /*Firefox 48 – 96 */
    }
    @page {
        size: auto;
        size: A4 portrait;
    }
    .no-print, .no-print * { display: none !important;}
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}


