table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 2px;
}

/* 
.card-body {
    font-family: 'Times New Roman', 仿宋;
}

.card {
    font-family: 'Times New Roman', 仿宋;
} */