<!--
 * @Author: BDFD
 * @Date: 2022-01-29 16:07:15
 * @LastEditTime: 2022-07-06 16:04:57
 * @LastEditors: BDFD
 * @Description: 
 * @FilePath: \SideProject053_LakeBlue\templates\updatehistorys\gumbelupdate.html
-->
{% extends "layout/user_guide_base.html" %} {% block content %}
<div class="thebody" id="div1">
    <div class="row ">
        <div class="col-md-6 m-auto">
            <div class="row">
                <div class="col">
                    <h4 style="font-family: 楷体;margin-bottom: 0px;margin-top: 0px;color:blue;line-height:1.45;">
                        <strong><span
                                style="font-family: Times New Roman;">Gumbel</span>分布</strong>
                    </h4>
                </div>
                <div class="col" align="right">
                    <a href="/greenampt.html" class="btn btn-secondary" style="font-family: 楷体; background-color: rgb(255, 255, 255);color:blue;border: 0px solid rgb(255, 255, 255);box-shadow:0px 0px;border-radius: 0px;"><strong>计算页面</strong></a>
                    <a href="/greenampthelp.html" class="btn btn-secondary" style="font-family: 楷体; background-color: rgb(255, 255, 255);color:blue;border: 0px solid rgb(255, 255, 255);box-shadow:0px 0px;border-radius: 0px;"><strong>技术指南</strong></a>
                    <a href="#" class="btn btn-secondary" style="font-family: 楷体; background-color: rgb(233, 236, 239);color:blue;border: 0px solid rgb(255, 255, 255);box-shadow:0px 0px;border-radius: 0px;"><strong>更新记录</strong></a>
                </div>
            </div>
            <div class="card-header" align="right" style="height:24px;padding: 0rem;background-color:rgb(233, 236, 239) ;">
            </div>
            <br />
            <h3 style="margin-bottom: 0px;font-family:'Times New Roman',楷体;font-size: 17px;font-weight:bold">
                2022.09
            </h3>
            <p style="margin-top: 0px;margin-bottom: 0px;font-family:'Times New Roman',楷体;">
                计算单元“Gumbel分布”首次上线。当前计算程序版本：202201，当前“技术指南”版本：202201
            </p>
        </div>
    </div>
</div>
<p style="margin-top:54px"></p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /> {% endblock %}